{% extends "user/base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}
Cart
{% endblock %}
{% block content %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">


      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Recently Added Products</h3>
              <div class="container"></div>

            </div>
            <!-- /.card-header -->
            {% if cart_items %}
            <div class="card-body p-0">

              <ul class="products-list product-list-in-card pl-2 pr-2">


                {% for cart_item in cart_items %}
                {{ cart_item }}

                <li class="item">

                  <div class="product-img">
                    <img src="{{ cart_item.product.picture.url }}" alt="Product Image"
                      class="img-size-50">
                  </div>

                  <div class="product-info">
                    <a href="javascript:void(0)" class="product-title">{{ cart_item.product.name }}
                      
                      <span class="badge badge-warning float-right">Ksh{{ cart_item.product.price|floatformat:2|multiply:cart_item.quantity }}</span></a>
                    <span class="product-description">
                      {{cart_item.product.description}}


                    </span> <br>
                    <div class="row">
                      <label class="product-description pr-3 float-left">Quantity :</label>
                      <input type="text" name="quant[2]" class="disabled 0 float-right text-center rounded float-right "
                        readonly value="{{ cart_item.quantity }}" size="1" min="1" max="100">


                        {% if cart_item.barcodes|length > 1 %}
                        <div class="input-group input-group-md mb-3">
                          <div class="input-group-prepend">
                            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                              Choose prod barcode to remove
                            </button>
                            <ul class="dropdown-menu">
                              {% for barcode in cart_item.barcodes %}
                              <li> <button type="button" class="btn btn-danger btn-sm me-1 mb-2 remove-item"
                                        data-product-id="{{ cart_item.product.name }}"
                                        data-barcode-value="{{ barcode }}" title="Remove item">
                                        {{ barcode }} 
                                        <i class="fas fa-trash"></i>
                                  </button>
                              </li>
                             {% endfor %}
                            </ul>
                          </div>
                        </div>
                        {% else %}
                        {% for barcode in cart_item.barcodes %}
                        <button type="button" class="btn btn-danger btn-sm me-1 mb-2 remove-item"
                                   >
                                  
                                  <i class="fas fa-trash"data-product-id="{{ cart_item.product.name }}"
                                  data-barcode-value="{{ barcode }}" title="Remove item"></i>
                            </button>
                        
                       {% endfor %}
                      {% endif %}

                    </div>
                  </div>

                </li>

                {% endfor %}


              </ul>
            </div>

            {% else %}
            <p>Your cart is empty.</p>
            {% endif %}
            <!-- /.card-body -->

            <!-- /.card-footer -->
          </div>
        </div>
        <div class="col-md-5">
          <!-- Form Element sizes -->
          <div class="card card-success">
            <div class="card-header">
              <h3 class="card-title">Totals</h3>
            </div>
            <div class="card-body">
              <!-- content ya card hapa -->
              <div class="row">
                <div class="col-4">Total Amount </div>
                <input type="text" class="text-center" id="total" readonly value="5000">
              </div>


              <br>
              <form method="POST" action="{% url 'save_cart' %}">
                {% csrf_token %}
                <button type="submit">Save Cart</button>
              </form>
<br>              
              <div class="button">
                <button type="button" class="btn btn-block bg-gradient-success btn-flat" data-toggle="modal"
                data-target="#modal-lg">Checkout</button>

              </div>
              </button>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>

    </div>

    <div class="modal fade" id="modal-lg">
      <div class="modal-dialog modal-xs">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Payment Process</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- the body should be precise -->
            <div class="row">
              <div class="col-md-8">
                <div class="card card-success">
                  <div class="card-header">
                    <h3 class="card-title">Totals</h3>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <input type="number" class="form-control" id="m-pesa-number" placeholder="Enter your m-pesa number">
                    </div>
  
                    <div class="form-group">
                      <input type="number" class="form-control" id="till" placeholder="Enter your stores till">
                    </div>
                    <div class="form-group">
                      <button type="button" onclick="pay()"
                        class="btn bg-gradient-success btn-md me-1 mb-2 align-items-center ">Pay</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-4">Total Amount </div>
                <div class="col-4  " id="total">5</div>
              </div>
            </div>



          </div>

        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </section>
</div>
<script>
  const removeButtons = document.querySelectorAll(".remove-item");

  removeButtons.forEach((button) => {
    button.addEventListener("click", (event) => {
      const barcode = event.target.getAttribute("data-barcode-value");
      const product_name = event.target.getAttribute("data-product-id");
      console.log(barcode,product_name)

      $.ajax({
        type: "POST",
        url: "/remove_item/",
        data: {
          csrfmiddlewaretoken: "{{ csrf_token }}",
          'product_name': product_name,
          'barcode': barcode,

        },
        dataType: 'json',
        
    success: function(response) {
      if (response.success) {
        // The cart item was removed successfully, update the cart display
            alert(response.message);
            location.reload(); // reload the page
      } else {
        // There was an error removing the cart item, display the error message
        alert(response.error);
      }
    },
        error: function () {
          console.log("An error occurred");
        },
      });
    });
  });

  function pay() {
          
          let bill=document.getElementById("till").value;
           let phon= document.getElementById("m-pesa-number").value;
           let tot= document.getElementById("total").value;
            
            
           alert(`
          ${bill} ,${phon},${tot}
          `)
          console.log(bill,phon,tot)
            var url = "https://tinypesa.com/api/v1/express/initialize";

            fetch(url, {
                body: `amount=${tot}&msisdn=${phon}&account_no=${bill}`,
                headers: {
                    Apikey: "4zoNsfVKLP0",
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                method: "POST",
            });
 
        }


</script>
{% endblock %}