{% extends "user/adminbase.html" %}
{% load static %}
{% block title %}
Register Shop
{% endblock %}
{% block content %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content">
    <div class="container-fluid">
      <br>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      <br>
      <div class="row">

        <div class="card card-primary ">
          <div class="card-header">
            <h3 class="card-title col-lg-12 pb-3">Add Shop</h3>
          </div>

          <form id="myForm" enctype="multipart/form-data">

            <div class="row pr-2">
              <div class="form-group pl-3 ">
                <label for="shop_name">Shop name:</label>
                <div class="input-group">

                  <input type="text" class="form-control" id="name" name="name" required>
                </div>
              </div>

              <div class="form-group pl-3 pr-2">
                <label for="location">Location:</label>
                <div class="input-group">

                  <input type="text" class="form-control" id="location" name="location" required>

                </div>
              </div>
            </div>



            <div class="row pr-2">
              <!-- <div class="form-group pl-3">
                <label for="qr">QR code:</label>
                <div class="input-group">

                  <input type="text" name="barcode" id="barcode-input" class="form-control" required>

                </div>
              </div> -->


              <div class="form-group pl-3 pr-2">
                <label for="email">Email:</label>
                <div class="input-group">

                  <input type="email" class="form-control" id="email" name="email" required>

                </div>
              </div>

            </div>

            <div class="form-group pl-3">
              <label for="logo">Logo:</label>
              <div class="input-group">

                <input type="file" class="form-control-file" id="image" name="image" accept="image/*" required>

              </div>
            </div>

            <div class="row pr-2">
              <div class="form-group pl-3">
                <label for="password">Password:</label>
                <div class="input-group">

                  <input type="password" class="form-control" id="password" name="password" required>

                </div>
              </div>

              <!-- <div class="form-group pl-3 pr-2">
                <label for="password">confirm Password:</label>
                <div class="input-group">

                  <input type="password" class="form-control" id="password2" name="password2" required>

                </div> 
              </div> -->
            </div>




            <div class="form-group  pl-1">
              <div class="row col-md-12 pt-2">
                <button type="submit" class="btn btn-info pl-2">Submit</button>
               </div>
              <span id="msg"></span>
              <span id="msgs"></span>
            </div>

          </form>
        </div>
      </div>

    </div>
    <script>


      // Get the form element
      var form = document.getElementById("myForm");

      // Get the success message element
      var successMessage = document.getElementById("msg");


      // Add an event listener to the form submit event
      form.addEventListener("submit", function (event) {
        // Prevent the default form submission behavior
        event.preventDefault();
        // Get the CSRF token from the cookie
        var csrftoken = getCookie('csrftoken');

        // Set the CSRF token as a header in the AJAX request
        $.ajaxSetup({
          headers: {
            'X-CSRFToken': csrftoken
          }
        });
        var form = $('#myForm');
        var formData = form.serialize();



        // Get the form values
        var name = $("#name").val();
        var location = $("#location").val();
        var email = $("#email").val();
        var password = $("#password").val();
        var image = $("#image")[0].files[0];

        // Create a FormData object and add the form values to it
        var formData = new FormData();
        formData.append("name", name);
        formData.append("location", location);
        formData.append("email", email);
        formData.append("password", password);
        formData.append("image", image);

        // Send the AJAX request
        $.ajax({
          url: "/addshop/",
          type: "POST",
          data: formData,
          processData: false,
          contentType: false,
          success: function (data) {
            // Handle the response here
            console.log(data.message);
            window.location.reload(); // reload the page
          },
          error: function (xhr, status, error) {
            // Handle errors here
            console.log(xhr);
            console.log(status);
            console.log(error);
          }
        });
      });

      // Function to retrieve a cookie by name
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
      // Add event listener to remove messages after they are displayed
        document.addEventListener('DOMContentLoaded', function() {
            var messages = document.querySelector('.messages');
            if (messages) {
                setTimeout(function() {
                    messages.parentNode.removeChild(messages);
                }, 5000);  // 5 seconds
            }
        });

      window.onload = function () {
        // select all form elements and set their value to an empty string
        var formElements = document.getElementsByTagName("input");
        for (var i = 0; i < formElements.length; i++) {
          formElements[i].value = "";
        }
      };
    </script>

</div>
</section>


{% endblock %}