{% extends "user/base.html" %}
{% load static %}
{% block title %}
Scan Barcode
{% endblock %}
{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content">
        <div class="container-fluid">
            <br>
            <br>
            <div class="row">
                <div id="scan-area">
                    <div id = "reader" width="600px"></div>
                </div>
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Quick Example</h3>
                    </div>
                    {% csrf_token %}
                    <form id="scan-form" method="post">

                        <div class="form-group">
                            <label for="{{ form.shop_id.id_for_label }}">shop :</label>
                            <div class="input-group">
                                {{ form.shop_id }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="{{ form.name.id_for_label }}">Product name:</label>
                            <div class="input-group">
                                {{ form.name }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="{{ form.category.id_for_label }}">Category :</label>
                            <div class="input-group">
                                {{ form.category}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="{{ form.brand.id_for_label }}">Brand :</label>
                            <div class="input-group">
                                {{ form.brand}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="{{ form.quantity.id_for_label }}">Quantity :</label>
                            <div class="input-group">
                                {{ form.quantity}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="{{ form.barcode.id_for_label }}">Product Barcode:</label>
                            <div class="input-group" id = "barcode">
                                {{ form.barcode }}
                            </div>
                        </div>
                       

                        <div class="form-group">
                            <label for="{{ form.price.id_for_label }}">Product Price:</label>
                            <div class="input-group">
                                {{ form.price }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="{{ form.picture.id_for_label }}">Product image:</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    {{form.image}}
                                </div>
                            </div>
                        </div>
                        <button type="submit">Submit</button>

                    </form>
                </div>
            </div>
          
        </div>
<script>
   function onScanSuccess(decodedText, decodedResult) {
  // handle the scanned code as you like, for example:
  console.log(`Code matched = ${decodedText}`, decodedResult);
  document.getElementById("barcode").innerHTML = decodedText;

}

function onScanFailure(error) {
  // handle scan failure, usually better to ignore and keep scanning.
  // for example:
  console.warn(`Code scan error = ${error}`);
}

let html5QrcodeScanner = new Html5QrcodeScanner(
  "reader",
  { fps: 10, qrbox: {width: 250, height: 250} },
  /* verbose= */ false);
html5QrcodeScanner.render(onScanSuccess, onScanFailure);
        </script>

</div>
</section>


{% endblock %}