{% extends 'user/adminbase.html' %}
{% load static %}
{% block title %}
Scanner
{% endblock %}
{% block content %}

<!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>User Cartitem</h1>
        </div>

      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Cartitem DataTable </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                  <tr>

                    <th>Cart ID</th>
                    <th>Product ID</th>
                    <th>Quantity</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                  {% for i in carts %}
                  <tr>

                    <td>{{ i.cart_id}}</td>
                    <td>{{ i.product_id}}</td>
                    <td>{{ i.quantity }}</td>
                    <td>
                      {% if i.completed %}
                         <span class="badge badge-success">Completed</span>
                      {% else %}
                          <span class="badge badge-danger">Not completed</span>
                      {% endif %}
                    </td>

                    <td>
                      <div class="input-group input-group-md mb-3">
                        <div class="input-group-prepend">
                          <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                            Action
                          </button>
                          <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="#">Action</a></li>
                            <li class="dropdown-item"><a href="#">Another action</a></li>
                          </ul>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}

                  </tbody>
                <tfoot>
                  <tr>

                    <th>Cart ID</th>
                    <th>Product ID</th>
                    <th>Quantity</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->


          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

{% endblock %}