{% extends 'user/base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block content %}

<div class="content-wrapper">
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <br>
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{count}}</h3>

            <p>Orders</p>
          </div>
          <div class="icon">
            <i class="fas fa-shopping-bag"></i>

          </div>
          <a href="{% url "inventory" %}"  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>53<sup style="font-size: 20px">%</sup></h3>

            <p>Payment history</p>
          </div>
          <div class="icon">
            <i class="fas fa-history"></i> <!-- History icon -->
            
          </div>
          <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>44</h3>

            <p>Loyalty Program</p>
          </div>
          <div class="icon">
            <i class="fas fa-crown"></i> <!-- Crown icon -->

          </div>
          <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      
    </div>
    <!-- /.row -->
    <!-- Main row -->
    
    <!-- /.row (main row) -->
  </div><!-- /.container-fluid -->
</section>
</div>
  {% endblock %}