{% extends "user/base.html" %}
{% load static %}
{% block title %}
Scan Product
{% endblock %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content">
      <div class="container-fluid">
        <div class="container">
            <br>
<h2>Password Reset</h2>
  {% if email_sent %}
    <p>A password reset link has been sent to your email address. Please check your email.</p>
  {% else %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Reset Password</button>
    </form>
  {% endif %}
</div>
</div></section></div>

{% endblock %}