{% extends 'user/base.html' %}
{% load static %}
{% block title %}
Profile
{% endblock %}
{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">


            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            
            {% if username %}
            <div class="card card-teal card-outline">
                <div class="container rounded bg-white mt-6 mb-5">
                    <div class="row">
                        <div class="col-md-3 border-right">
                            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img
                                    class="rounded-circle mt-5" width="150px"

                                    src="{% static 'img/avatar3.png'%}">
                                    <span
                                    class="font-weight-bold">{{first_name}}</span><span
                                    class="text-black-50">{{email}}</span><span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-5 border-right">
                            <div class="p-5 py-7">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h4 class="text-right text-muted">Profile</h4>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-6"><label class="labels">First Name</label><input type="text"
                                            class="form-control" placeholder="first name" value="{{first_name}} "></div>
                                    <div class="col-md-6"><label class="labels">username</label><input type="text"
                                            class="form-control" value="{{username}}" placeholder="surname"></div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12"><label class="labels">Email</label><input type="text"
                                            class="form-control" placeholder="enter email id" value="{{email}}"></div>
                                </div>

                                <div class="mt-5 text-center">
                                    <button type="button" class="btn btn-block bg-gradient-teal btn-flat"
                                        data-toggle="modal" data-target="#modal-lg">Edit Profile</button>

                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal-lg">
                <div class="modal-dialog modal-xs">
                    <div class="modal-content">
                        <div class="modal-header bg-gradient-teal">
                            <h4 class="modal-title " class="">Edit Profile</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- the body should be precise -->
                            <div class="card card-primary card-outline">
                                <div class="card-body box-profile">
                                    <form id="myForm">

                                        <div class="text-center">
                                            <img class="profile-user-img img-fluid img-circle" src="{% static 'img/avatar3.png'%}"
                                                alt="User profile picture">
                                        </div>


                                        <ul class="list-group list-group-unbordered mb-3">
                                            <li class="list-group-item">
                                                <b>Name</b> <input type="text" id="first_name"
                                                    class="form-control float-right" value="{{first_name}}">
                                            </li>
                                            <li class="list-group-item">
                                                <b>Username </b> <input type="text" id="username"
                                                    class="form-control float-right" value="{{username}}">
                                            </li>
                                            <li class="list-group-item">
                                                <b>Email</b> <input type="text" id="email"
                                                    class="form-control float-right" value="{{email}}">
                                            </li>
                                        </ul>

                                        <button type="submit" class="btn btn-block bg-gradient-teal btn-flat"
                                            data-toggle="modal" data-target="#modal-lg">Update</button>

                                        </button>
                                    </form>
                                </div>
                                <!-- /.card-body -->
                            </div>



                        </div>

                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </div>
</div>

{% else %}
<h1>You are not logged in</h1>
{% endif %}

<script>
    $(document).ready(function () {
        $('#myForm').submit(function (event) {
            event.preventDefault(); // prevent default form submission

            // Get the form data
            var formData = {
                'first_name': $('#first_name').val(),
                'username': $('#username').val(),
                'email': $('#email').val()
            };
            // Get the CSRF token from the cookie
            var csrftoken = getCookie('csrftoken');
            // Send the AJAX request
            $.ajax({
                url: '/update_profile/',
                type: 'POST',
                data: formData,
                dataType: 'json',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (response) {
                    if (response.success) {
                        // Success message
                        alert('Profile updated successfully!');
                        location.reload(); // reload the page
                    } else {
                        // Error message
                        alert('Error updating profile.');
                    }
                },
                error: function (xhr, status, error) {
                    // Error message
                    alert('Error updating profile.');
                }
            });
        });
    });

    // Function to retrieve a cookie by name
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>

{% endblock %}