{% extends 'user/adminbase.html' %}
{% load static %}
{% block title %}
Shops Product
{% endblock %}
{% block content %}

<!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h3>Products Available</h3>
        </div>

      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header bg-gradient-teal">
              <h3 class="card-title">Product DataTable </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="table-responsive">
              <table id="example1" class="table table-bordered table-striped ">
                <thead>
                <tr>
                  <th>Product name</th>
                  <th>Brand</th>
                  <th>Quantity</th>
                  <th>picture</th>
                  <th>Price</th>
                  <!-- <th>Action</th> -->
                </tr>
                </thead>
                <tbody>
                  {% for i in product %}
                  <tr>


                    <td>{{ i.name }}</td>
                    <td>{{ i.brand}}</td>
                    <td>{{ i.total }}</td>
                    <td><img src="{{ i.picture.url }}" alt="Image" class="img-size-50">
                    </td>
                    <td>Ksh {{ i.price}}</td>
                    <!-- <td>
                      <div class="input-group input-group-md mb-3">
                        <div class="input-group-prepend">
                          <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                            Action
                          </button>
                          <ul class="dropdown-menu bg-gradient-teal">
                            <li class="dropdown-item"><a href="#">Delete</a></li>
                            <li class="dropdown-item text-bold "><a href="#">Edit</a></li>
                          </ul>
                        </div>
                      </div>
                    </td> -->
                  </tr>
                  {% endfor %}
                  
              </table>
            </div>
            <!-- /.card-body -->
          </div>
              


          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<script>
  $(function () {
  $("#example1").DataTable({
    "responsive": true, "lengthChange": false, "autoWidth": false,
    "buttons": [ "csv", "excel", "pdf", "print", "colvis"]
  }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
  $('#example2').DataTable({
    "paging": true,
    "lengthChange": false,
    "searching": false,
    "ordering": true,
    "info": true,
    "autoWidth": false,
    "responsive": true,
  });
});
</script>
{% endblock %}