{% extends 'user/base.html' %}
{% block title %}
Login
{% endblock %}
{% block content %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content">
    <div class="container-fluid">
      <div class="page-header min-vh-75">
        <div class="container" style="display: flex; justify-content: center;">
          <br>
          <div class="row" >
            <div class="pt-2">
              <div class="card card-plain mt-8">
                <div class="card-header pb-0 text-left bg-teal">
                  <h3 class="font-weight-bolder text-White text-gradient">Welcome Please</h3>
                  <p class="mb-0">Enter Credentials to sign in</p>
                </div>
                <div class="card-body container-fluid">
                  <form method="post" class="form-group">
                    {% csrf_token %}
                    {% for field in form %}
                    <p>
                      {{ field.label_tag }}<br>

                      {{ field }}

                      {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    </p>
                    {% endfor %}
                    <button type="submit" class="btn btn-light bg-gradient-teal">Login</button>
                  </form>
                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1 bg-gradient-teal">
                  <p class="text-sm float-left">
                    Don't have an account?
                    <a href="{% url 'signup' %}" class="text-info text-gradient font-weight-bold">Sign up</a>
                  
                    </p><br><p class="text-sm float-center"><a href="{% url 'password_reset' %}" class=" float-left text-white text-gradient ">
                      forgort password?</a>
                    </p>
                    
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6"
                  style="background-image:url('../../admin/assets/img/curved-images/curved6.jpg')"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </section>
</div>




{% endblock %}